#btnEnviar{
    margin-top: 50px;
    margin-block: 30px;
    display: flex;
    justify-content: right;
    
} 

.btn-primary{
    margin: 30px ;
    border-color: #27538C;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #ffffff;
    background-color: #27538C;
    border-radius: 25px;
    padding-left: 35px;
    padding-right: 35px;
   
}

@media(max-width:500px){
    div.container{
        grid-template-columns: auto;
        text-align: center;
    } 
}
#ctcCorreo{
    text-align: center;
}

#ctcWhats{
    text-align: center;
}
#ctcEnlaces{
    text-align: center;
}

.fa-brands fa-instagram{
    text-align: center;
}
.fa-brands fa-facebook{
    text-align: center;
}
.fa-brands fa-tiktok{
    text-align: center;
}